<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div>
        購入者
        <%= @order.member.last_name %> <%= @order.member.first_name %></td>
      </div>
      <div>
        配送先
        〒<%= @order.postal_code %> <%= @order.address %><br><%= @order.name %>様
      </div>
      <div>
        支払い方法
        <%= @order.payment_method %>
      </div>
      </div>
      <%= form_with model:@order,url: admin_order_path, local: true do |f| %>
        <div>注文ステータス</div>
          <%= f.select :received_status, Order.received_statuses.keys, class: "received_status" %>
        </div>
        <div><%= f.submit '更新' %></div>
      <% end %>
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_products.each do |order_product| %>
            <tr>
              <td><%= order_product.product.name %></td>
              <td><%= order_product.subtotal_price / order_product.quantity %></td>
              <td><%= order_product.quantity %></td>
              <td><%= order_product.subtotal_price %></td>
              <td>
                <%= form_with model: order_product, url: admin_order_product_path(order_product.id) ,method: :patch, local: true do |f| %>
                  <%= f.select :production_status, OrderProduct.production_statuses.keys, class: "production_status" %>
                  <%= f.submit '更新' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>商品合計</div>
      <div>¥<%= @order.total_price - @order.potage %></div>
      <div>送料</div>
      <div>¥<%= @order.potage %></div>
      <div>請求金額合計</div>
      <div>¥<%= @order.total_price %></div>
    </div>
  </div>
</div>