<h1>マイページ</h1>

<h1>登録情報 <button><%= link_to "編集", members_myedit_path %></button></h1>

<table>
  <tr>
    <th>氏名</th> <th><%= @member.last_name %> <%= @member.first_name %></th>
  </tr>
  <tr>
    <th>カナ</th> <th><%= @member.last_name_kana %> <%= @member.first_name_kana %></th>
  </tr>
  <tr>
    <th>郵便番号</th> <th><%= @member.postal_code %></th>
  </tr>
  <tr>
    <th>住所</th> <th><%= @member.address %></th>
  </tr>
  <tr>
    <th>電話番号</th> <th><%= @member.telephone_number %></th>
  </tr>
  <tr>
    <th>メールアドレス</th> <th><%= @member.email %></th>
  </tr>
</table>

<h1>配送先　<button>><%= link_to "一覧を見る", destinations_path %></button></h1>
<h1>注文履歴　<button>><%= link_to "一覧を見る", orders_info_path %></button></h1>