<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet" />
  </head>
   <body>
    <div class="video-wrap">
    <%= video_tag("/videos/top.mp4",autoplay: :true, muted: :true, class: 'top-video') %>
       <nav class="navbar  navbar-expand-lg navbar-light ml-center gnav ">
            <ul class="navbar-nav ml-center">
              <% if member_signed_in? %>
                <li class="name"><p class="fadein txt01">ようこそ、<%= current_member.last_name %> <%= current_member.first_name %>さん</p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to 'マイページ', members_path(current_member), class: "btn btn-danger" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to '商品一覧', products_path, class: "btn btn-danger" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to 'カート', cart_products_path, class: "btn btn-danger" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn btn-danger" %></p></li>
              <% elsif admin_signed_in? %>
                <li class="nav-item"><p class="fadein txt01"><%= link_to '商品一覧', admin_products_path , class: "btn btn-outline-info" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to '会員一覧', admin_members_path, class: "btn btn-outline-info" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to '注文履歴一覧', admin_orders_path, class: "btn btn-outline-info" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-info" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-info" %></p></li>
              <% else %>
                <li class="nav-item"><p class="fadein txt01"><%= link_to 'About', about_path, class: "btn btn-danger" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to '商品一覧', products_path, class: "btn btn-danger" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to '新規登録', new_member_registration_path, class: "btn btn-danger" %></p></li>
                <li class="nav-item"><p class="fadein txt01"><%= link_to 'ログイン', member_session_path, class: "btn btn-danger"%></p></li>
              <% end %>
            </ul>
      </nav>
      <div class="space"></div>
        <div class="container">
          <div class="row">
             <div class="col-md-12 flex-row pull-right d-inline">
               <div class="yoko">
               <h2 class="new-item-text fadein txt01">NEW↓</h2></br>
               </div>
               <div class="yoko">
                   <% @products.each do |product| %>
                      <%= link_to product_path(product.id) do %>
                       <h3 class="fadein txt01 p-name"><strong><%= product.name %></strong></h3>
                       <p class="fadein txt01"><%= attachment_image_tag product, :image, size: "200x200",  fallback: "no_image.jpg", class:"fuwafuwa product-image" %></p>
                       <h4 class="fadein txt01"><strong>￥<%= product.price %></strong></h4>
                      <% end %>
                   <% end %>
                   <%= link_to  products_path do %>
                   <p class="fadein txt01"><%= image_tag 'check.jpg', class:"finger" %></p>
                   <% end %>
                </div>
          </div>
        </div>
      </div>
      </div>
      </div>
</body>