<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
    <header>

      <nav class="navbar  navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
          <div class="fuwafuwa"></div>
          <p>　</p>
          <div><%= link_to '管理者ログイン',admin_session_path,class: "btn btn-outline-dark" %></div>
            <ul class="navbar-nav ml-auto">
              <% if member_signed_in? %>
                <%#= current_member.last_name %> <%#= current_member.first_name %></li>
                <li class="nav-item"><%= link_to 'マイページ', members_path(current_member), class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to '商品一覧', products_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to 'カート', cart_products_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_member_session_path, method: :delete, class: "btn btn-outline-info" %></li>
              <% elsif admin_signed_in? %>
                <li class="nav-item"><%= link_to '商品一覧', adminproducts_path , class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to '会員一覧', admin_members_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to '注文履歴一覧', admin_order_products_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-info" %></li>
              <% else %>
                <li class="nav-item"><%= link_to 'About', about_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to '商品一覧', products_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to '新規登録', new_member_registration_path, class: "btn btn-outline-info" %></li>
                <li class="nav-item"><%= link_to 'ログイン', member_session_path, class: "btn btn-outline-info"%></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  <%= yield %>
</body>
</html>
